
.settings-toggle__title{
  text-align: center;
  font-weight: bold;
  margin-bottom: 6px;
}
.settings-toggle__body{
  display: flex;
  align-items: center;
  justify-content: center;
}
.settings-toggle__label{
  padding:1px 2px;
  margin:0 10px;
  height:20px;
  border-radius: 10px;
  border:1px solid var(--accent-color);
  position: relative;
  width:38px;
  display: flex;
  cursor: pointer;
}
.settings-toggle__option{
  white-space: nowrap;
  flex:1;
}
.settings-toggle__option:first-child{
  text-align: right;
}
.settings-toggle__option:last-child{
  text-align: left;
}
.settings-toggle__label input{
  position:absolute;
  opacity: 0;
  pointer-events: none;
  top:0;
  left:0;
  height:0;
  width:0;
}
.settings-toggle__label input:checked + span{
  transform:translateX(100%);
}
.settings-toggle__label span{
  transition:transform .1s ease-in-out;
  width: 16px;
  height:16px;
  background-color: var(--accent-color);
  border-radius: 100%;
}
