.footer{
  transition:background-color .3s ease-in-out;
  background-color: var(--secondary-color);
  padding: 10px;
  margin-top:auto;
}
.footer__wrap{
  align-items: center;
  display: flex;
  justify-content: space-between;
}
.footer__link{
  height:30px;
}
.footer__year{
  font-weight: bold;
}
[data-theme='dark'] .footer__link img{ filter: invert(1);}
.footer__link img{
  transition:filter .3s ease-in-out;
  height:100%;
  display: block;
}